.boxed{
    display: block; 
    text-align: left; 
    width: 50%; 
    margin: auto; 
background: #E8EC35;
border-radius: 15px;
padding-left: 40px; 
padding-right: 40px;
padding-top: 5px; 
padding-bottom: 5px; 
margin-bottom: 20px; 
}
.inputBox{
    position: absolute; 
    left: 35%;  
 width: 30%; 
 height: 40px;
 
 border-radius: 15px;
}
h1{
 color: black; 
 font-size: 40px; 
}
#sendButton{
    background: #FF9900;
border: 1px solid #000000;
box-sizing: border-box;
width: 20%; 
height: 6vh; 
font-size: 40px;
margin-left: 50%; 
}